.topbtn {
  display: flex;
  background: rgb(209, 209, 209);
  width: 50%;
  height: 40px;
}
.btn1 {
  border: none;
  background: rgb(209, 209, 209);
  cursor: pointer;
}
.btn2 {
  border: none;
  cursor: pointer;
  background: rgb(209, 209, 209);
}
.btn3 {
  border: none;
  cursor: pointer;
  background: rgb(209, 209, 209);
}
.menu {
  border: none;
  background: rgb(209, 209, 209);
}
.nav {
  width: 100%;
  background: rgb(209, 209, 209);
}
.line1 {
  border-radius: 50px;
  background-color: blue;
  color: white;
  font-weight: bolder;
  height: 25px;
}
.sooin {
  border-radius: 50px;
  background-color: rgb(235, 204, 32);
  color: white;
  height: 25px;
  font-weight: bolder;
}
.choose {
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  gap: 10px;
  height: 30px;
  background: black;
}
.btn11 {
  background: black;
  color: white;
}
