.main {
  width: 3000px;
}
.topbtn {
  display: flex;
}
.btn1 {
  border: none;
  cursor: pointer;
}
.btn2 {
  border: none;
  cursor: pointer;
}
.btn3 {
  border: none;
  cursor: pointer;
}
