.postarea {
  width: 400px;
  height: 50%;
  position: relative;
  border: none;
  outline: none;
  scrollbar-width: none;
  resize: none;
  overflow: auto;
  margin-left: 5px;
}
.postarea::placeholder {
  color: rgb(172, 172, 172);
  white-space: pre-wrap;
}

.postbox {
  display: flex;
  height: 35px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  width: 400px;
  border: solid gray;
  resize: both;
  border-radius: 60px;
}
.submit {
  display: flex;
  justify-content: center;
}
.postbtn {
  background: none;
  border: none;
}
.postbtn:hover {
  cursor: pointer;
  color: rgb(25, 0, 255);
}
.timeline {
  width: 444px;
  white-space: pre-line;
  margin-left: 10px;
  padding-bottom: 5px;
}
.timelinebox {
  border: solid 2px gray;
  border-top: none;
  border-left: none;
  border-right: none;
  white-space: pre-line;
  position: relative;
}
.userprofileimg {
  border: solid;
  border-radius: 50%;
  width: 35px;
  height: 35px;
}
.posttime {
  right: 0;
  color: gray;
  font-size: 8px;
  position: absolute;
  margin-right: 8px;
}
.snspost {
  margin-top: 20px;
}
.profileimg {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.userinfo {
  display: flex;
  height: 33px;
  align-items: center;
  gap: 5px;
  margin-left: 10px;
  color: gray;
  font-size: 10px;
}
.firstline {
  display: flex;
  height: 33px;
  align-items: center;
}
